body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

a.logo {
    position: relative;
    display: inline-block;
    overflow: hidden; 
}

a.logo img {
    transition: 1s ease;
}

a.logo:hover {
    transform: scale(1.05);
}

a.logo:hover img {
    animation: rippleGlow 1.2s ease-out infinite;
}

a.logo::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1.05);
    animation: rippleEffect 2s ease-out infinite;
}

@keyframes rippleEffect {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
    }
}


a { 
    color: #809E83;
    text-decoration: none;
}

ul {
    list-style: none;
    color: #809E83;
}

.header_section {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 20px 20px; 
    border: 2px solid #809E83;
    margin-bottom: 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3.5rem;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 7.5rem;
}

.nav-link {
    display: inline-block; 
    font-family: 'Lancelot';
    font-size: 28px;
    color: #809E83;
    font-weight: 500;
    padding: 0.2rem 1rem;
    transition: transform 0.3s, color 0.3s ease-in-out; 
}

.nav-link:hover {
    color: #FBA6A6; 
    transform: scale(1.1);
}


.nav-item {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;
    z-index: 1000;
}

.submenu-item {
    padding: 0.5rem 1rem;
}

.submenu-link {
    color: #FBA6A6;
    font-size: 0.9rem;
    transition: transform 0.3s, color 0.3s ease-in-out;
}

.nav-item:hover .submenu {
    display: block;
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
}

/* Section 1 */
.section1 {
    font-family: 'Hepta Slab';
    font-size: 28px;
    position: relative; 
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: 70px;
}

.section1-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.section1-background img {
    width: 90%;
    height: auto;
    object-fit: cover; 
    padding-left: 70px;
}

.section1-content {
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: left;
    padding: 0 20px;
    max-width: 80%;
}

.section-title, .section-description {
    font-family: 'Elsie Swash Caps', sans-serif;
    font-size: 72px;
    margin: 10px 0;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #C3B3B9, #715D64); 
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
}

.section-description {
    font-family: 'Elsie Swash Caps', sans-serif;
    font-size: 44px;
    margin: -20px 0 20px 600px;
    background-image: linear-gradient(to right, #715D64, #676177); 
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent; 
}

.section-description-2 {
    font-family: 'Hepta Slab';
    margin-top: 20px;
    line-height: 1.7;
}

/* Section 2 */
.section2 {
    position: relative; 
    margin-top: -20px; 
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

.section2-content {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto auto;
    gap: 20px; 
    width: 80%;
    max-width: 1200px; 
    font-family: 'Hepta Slab';
    font-weight: 200;
}

.section2-1 {
    background-color: #D9D9D9;
}
.section2-1-title {
    color: #D39B9B;
}

.section2-2 {
    background-color: #ffffff;
    border: 2px solid  #D39B9B;
   
}

.section2-2-title {
    color: #809E83;
}

.section2-3 {
    background-color: #E2ADAD;
    color: white;
}
.section2-3-title{
    color: #81656D;
}


.section2-4 {
    background-color: #ffffff;
    border: 2px solid black; 
}
.section2-5 {
    background-color: #809E83;
    color: white;
}
.section2-5-title {
    color: #4B5843;
}



.section2-1,
.section2-2,
.section2-3,
.section2-4,
.section2-5 {
    border-radius: 40px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.section2-title {
    font-weight: 300;
    font-size: 52px;
    letter-spacing: 5px;
    color: #809E83;
    line-height: 80px;
    margin: 2;
}
/* Titles and text styles */
.section2-1-title,
.section2-2-title,
.section2-3-title,
.section2-4-title,
.section2-5-title {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Lancelot';
    margin-bottom: 10px;
}

.section2-1-text,
.section2-2-text,
.section2-3-text,
.section2-4-text,
.section2-5-text {
    font-size: 16px;
    max-width: 300px;
    padding-left: 20px;
    line-height: 28px;
}

@media (max-width: 768px) {
    .section2-content {
        grid-template-columns: 1fr 1fr; 
    }

    .section2-1,
    .section2-2,
    .section2-3,
    .section2-4,
    .section2-5 {
        padding: 15px; 
    }
}

.product {
    width: 610px;
    height: auto;
    box-shadow: #4B5843;
    margin: 20px;
    height: auto;
    background-color: #fff;
    border-radius: 42px; 
    box-shadow: 0 4px 8px rgba(75, 88, 67, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #C6A7B2;
    padding: 0;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(75, 88, 67, 0.5);
}

/* Product Image Styling */
.product-img {
    margin: 0;
}

.product-img img {
    width: 100%;
    height: 100%;
    border-radius: 40px 40px 0 0; 
}

/* Title Section */
.product-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 0 25px;
}

.product-top h2 {
    font-family: 'Elsie Swash Caps';
    font-size: 32px;
    font-weight: 600;
    color: #8DA389;
    letter-spacing: 3px;
    margin: 0;
}

.icons {
    display: flex;
    gap: 35px;
    align-items: center;
}

.icons img {
    width: 34px;
    height: auto;
    cursor: pointer;
}

.product-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px 15px 25px;
}

.product-bottom p {
    font-size: 24px;
    color: #707070; 
    font-family: 'Lancelot', serif;
    letter-spacing: 2px;
    padding-bottom: 5px;
    margin-bottom: 0;
    flex: 1;
}

.see-more {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    justify-content: flex-end;
    margin-top: 20px;
    padding: 10px 5px 10px 25px;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.see-more:hover {
    transform: scale(1.1);
}

.see-more:hover span,
.see-more:hover img {
    animation: pulseText 1.5s infinite;
}

@keyframes pulseText {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    50% {
        transform: scale(1.1); 
        opacity: 1; 
    }
    100% {
        transform: scale(1); 
        opacity: 0.8; 
    }
}

.see-more span {
    font-size: 24px;
    color: #DCABAB; /* Text color stays the same */
    font-family: 'Lancelot', serif;
    margin-right: 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.see-more img {
    width: 26px;
    height: auto;
}

/* Section 3 and Section 4 */
.section3-title {
    display: flex;
    justify-content: center;
    font-family: 'Hepta Slab', serif;
    font-weight: 300;
    font-size: 65px;
    letter-spacing: 2px;
    color: #82898B;
    margin-bottom: 30px;
}

.section3-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}


.section4-title {
    font-family: 'Hepta Slab', sans-serif;
    font-weight: 300;
    font-size: 68px; 
    text-align: center;
    position: relative;
    display: inline-block; 
    color: transparent; 
    margin-left: 200px;
    margin-top: 120px;
    margin-bottom: 50px ;

}

.section4-title::before {
    content: 'NEWLY ADDED';
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(255, 204, 0);
    z-index: 1;
    transform-origin: center;
}

.section4-title::after {
    content: 'NEWLY ADDED'; 
    position: absolute;
    top: 0;
    left: 0;
    color: black; 
    z-index: 2;
    transform: rotate(-5deg);
    transform-origin: center; 
}

.section4-up, .section4-down {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section4-serum {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; 
    margin-right: 10px;
}

.section4-cream {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse; 
    margin-right: 5px;
}

.section4-image {
    max-height: 551px;
    width: auto;
    margin-right: 20px;  
    margin-left: 30px;
}

.section4-serum, .section4-cream {
    margin-bottom: 20px;
}

.section4-serum img, .section4-cream img {
    margin-bottom: 10px;
}

.catalogue {
    display: flex;
    justify-content: center; 
    align-items: center;      
    margin-top: 30px;         
}

.catalogue-container {
    display: grid;             
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;                 
    justify-items: center;     
    align-items: start;      
}

/* Footer PHP */

.footer {
    background-color: rgb(255, 255, 255);
    border: 2px solid #809E83;
    border-radius: 40px 40px 0 0;
    height: 405px;
}

.footer-up{
   margin: 80px 0 ;
   display: flex;
   align-items: center;
   gap: 350px;
   margin-left: 190px;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    font-family: 'Lancelot';
    font-size: 36px; 
    letter-spacing: 3px;
}

.footer-icons {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-description  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section5 {
    margin: 0 auto;
    width: 1254px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Ensure the shadow is defined properly */
    position: relative; /* Ensure it's in normal flow */
    margin-bottom: 130px; /* Add space below section5 */
    margin-top: 100px;
    
}

.section5-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.section5-header h1 {
    font-family: 'Lancelot';
    font-size: 51px;
    font-weight: 400;
    line-height: 56.35px;
    letter-spacing: 0.02em;
    color: #AAAAAA;
}

.section5-data {
    display: flex;
}

.correct-1 {
    display: flex;
    align-items: center;
}

.correct-2 {
    display: flex;
    align-items: right;
    justify-content: flex-end; 
    margin-right: 20px;
}

.correct-2 h2 {
    font-family: Hepta Slab;
    font-size: 32px;
    font-weight: 300;
    line-height: 40.03px;
    letter-spacing: -0.02em;
    color: #F7BCB0;
}

.correct-1-content {
   display: flex;
   width: 810px;
}

.correct-1 h2 {
    font-family: Hepta Slab;
    font-size: 32px;
    font-weight: 300;
    line-height: 40.03px;
    letter-spacing: -0.02em;
    color: #F7BCB0;
}
.correct-1-content p {
    font-family: 'Hepta Slab';
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: -0.02em;
}

.correct-2-content p {
    font-family: 'Hepta Slab';
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: -0.02em;
    text-align: right;
    margin-right: 40px;
}